<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid"> -->
    <!-- Use routerLink instead of href -->
    <!-- <a class="navbar-brand fw-bold" routerLink="/">EduQuest</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">
            <i class="bi bi-house-door text-white"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <!-- Brand always visible -->
    <a class="navbar-brand fw-bold text-primary" routerLink="/">EduQuest</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto"></ul>

      <div class="d-flex">
        <ng-container *ngIf="isLandingPage()">
          <a routerLink="/login" class="btn btn-outline-primary me-2">Login</a>
          <a routerLink="/register" class="btn btn-primary">Register</a>
        </ng-container>
        
        <ng-container *ngIf="!isLandingPage() && !isAuthPage()">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

