<div class="container mt-5" style="max-width: 500px;">
  <h2 class="text-center mb-4 text-primary fw-bold">Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
    <div class="mb-3">
      <label class="form-label">Full Name</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input  [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" />
      <button
  type="button"
  class="btn btn-sm border-0 bg-transparent"
  (click)="togglePasswordVisibility()"
  style="
    position: absolute;
    top: 58.5%;
    right: 407px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #b0d6f8;
    z-index: 10;
  "
>
  <i
    class="fa"
    [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
    style="font-size: 1rem;"
  ></i>
</button>
    </div>

    <!-- Hidden default role -->
    <input type="hidden" formControlName="role" value="student" />

    <button type="submit" class="btn btn-primary w-100">Register</button>
  </form>

  <!-- small line below form -->
  <p class="text-center mt-3 text-muted">
    Already have an account?
    <a routerLink="/login" class="text-primary fw-semibold text-decoration-none">
      Login here
    </a>
  </p>


  
</div>
